.modal{
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
}

.question{

    padding-top: 20px;
    margin: 5px;
    font-size: 18px;
}

.radio{
    margin-left: 20px;
}

.button{
    margin: 25px;
    padding: 13px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #538d4e;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border-width: 0px;
}